*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;   
    text-decoration: none; 
}
html, body {
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aquamarine;
    align-items: flex-start;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
nav{
    display: flex;
    width: 100%;
}
ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 100%;
}
li{
    display: flex;
    flex-grow: 1;
}
#timer{
    justify-content: right;
}
h1{
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 2px 0px;
}
button{
    display: flex;
    background-color: plum;
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 4px; 
}

@media (max-width: 1000px) {
    *{
        text-align: center;
        font-size: 100%;
    }
    ul{
        font-size: 75%;
    }
    
}
  